@import url('https://fonts.googleapis.com/css?family=Underdog&display=swap&subset=cyrillic');
$font-family: 'Underdog', cursive;

$bg-dark: #1a1c19;
$white: #fff;
$black: #000;
$bg-green: #2ce52c;
$green: #219621;