.box-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
  min-height: 300px;
  .loading-holder{
    height: 100%;
    position: relative;
    .loading{
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      position: absolute;
      width: 150px;
      height: 150px;
    }
  }
}

.box-item{
  width: 100%;
  max-width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
  a{
    display: block;
    color: $black;
    &:hover{
      color: $green;
    }
  }
  .img-holder{
    position: relative;
    height: 300px;
    overflow: hidden;
    margin-bottom: 10px;
    img{
      width: 100%;
    }
  }
  h3{
    margin: 0 0 5px;
  }
}