.header{
  background: $bg-dark;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  .container{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .logo-block{
    width: 100px;
    .logo{
      display: block;
      font-size: 30px;
      color: $white;
      letter-spacing: 2px;
      white-space: nowrap;
      span{
        color: $green
      }
    }
  }
  .profile-block{
    width: 50px;
    height: 50px;
    a{
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
    }
  }
  .nav-holder{
    ul{
      padding: 10px 0;
      display: flex;
    }
    li{
      margin: 0 10px;
    }
    a{
      color: $white;
      font-size: 22px;
      position: relative;
      display: block;
      &:after{
        transition: all 0.3s linear;
        content: '';
        background: $bg-green;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 50%;
        z-index: -1;
      }
      &:hover{
        &:after{
          left: 0;
          right: 0;
        }
      }
      &.active{
        color: $green;
      }
    }
  }
}