.section-banner{
  height: 100vh;
  margin-top: -70px;
}
.banner-holder{
  height: 100%;
  position: relative;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
  }
  &>* {
    position: relative;
    z-index: 2;
  }
  h1{
    font-size: 80px;
    text-shadow: 1px 0 $black,
                 0 1px $black,
                 -1px 0 $black,
                 0 -1px $black;
  }
}