.session-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  .not-session{
    font-size: 30px;
  }
  .session-item{
    padding: 3px 25px;
    border-radius: 25px;
    background: #757575;
    color: $white;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .session-date {
    padding: 10px 15px 6px;
    font-size: 35px;
    font-weight: bold;
    min-width: 100px;
  }
  .session-time-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .session-time-item{
    margin: 10px;
    position: relative;
    .btn{
      padding: 5px 25px 3px;
      color: $black;
      font-size: 20px;
      &:hover{
        &+span{
          opacity: 1;
          visibility: visible;
        }
      }
    }
    span{
      transition: all 0.3s linear;
      position: absolute;
      bottom: calc(100% + 10px);
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      visibility: hidden;
      width: 120px;
      padding: 5px 10px 3px;
      background: $white;
      border: 1px solid $black;
      color: $black;
      border-radius: 20px;
      text-align: center;
    }
  }
}

.rooms-color{
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
  li{
    margin-right: 15px;
    display: flex;
    align-items: center;
    span{
      border: 1px solid $black;
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 5px;
      margin-right: 10px;
      &.room-yellow {
        background: $yellow;
      }
      &.room-green{
        background: $green;
      }
    }
  }
}

.schedule-list{
  .schedule-date{
    padding: 10px 25px;
    border-radius: 25px;
    background: #757575;
    color: $white;
    margin-bottom: 20px;
  }
  .movie-time-item{
    padding: 25px;
    border-radius: 25px;
    background: #eee;
    margin-bottom: 20px;
    display: flex;
    .img-holder{
      width: 130px;
      height: 200px;
      margin-right: 50px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    h3{
      font-size: 35px;
    }
    h4{
      text-transform: uppercase;
    }
    .hall{
      span{
        border: 1px solid $black;
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 5px;
        margin-left: 10px;
        &.room-yellow {
          background: $yellow;
        }
        &.room-green{
          background: $green;
        }
      }
    }
    .btn{
      margin-right: 20px;
    }
  }
}

.nav-date{
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  .btn{
    margin: 0 5px;
  }
}